h1{
    color:white;
    background-color: black;
    width:500;
    text-align: center;
    font-size: 3em;
}
p{
    line-height:2;
     color:white;
    text-align: justify;
    background: black;
    font-size: 1.5em;
    font-style: oblique;
}
body{
   width: 100%;
    height: 100%;
    background-image: url('Photo/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    display: inline-block;
    font-size: 1.5em;
     font-style:italic; 
    
}